<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{common/layout}"
      layout:fragment="content">

<style>
    .board_image {
    display: block;
    margin: auto;
    width: 500px;
    height: auto;
    max-width: 100%; /* 이미지가 비율을 유지하면서 꽉 차도록 */
    }
</style>

    <div class="board_whole">
        <div class="board_inner">
            <p class="bold_title" th:text="${board.title}"></p>
            <div class="board_info display_flex flex_wrap flex_start flex_align_c">
                <p><img src="/img/icon/board/writer_dyl.png" alt="작성자"><span th:text="${board.writer}"></span></p>
                <p><img src="/img/icon/board/calendar_dyl.png" alt="작성일"><span th:text="${#temporals.format(board.regTime, 'yyyy-MM-dd HH:mm')}"></span></p>
            </div>
            <textarea class="board_content" th:text="${board.content}" disabled readonly></textarea>
            <!-- 파일이 존재하면 이미지 출력 -->
            <div th:if="${board.fileEntity != null}" class="board_file">
                <img th:if="${#strings.contains(board.fileEntity.fileType, 'image/')}" th:src="${board.fileUrl} + '?t=' + ${#dates.createNow().getTime()}" alt="게시글 이미지" class="board_image">
                <p th:if="${not #strings.contains(board.fileEntity.fileType, 'image/')}" th:text="${board.fileEntity.fileName}"></p>
            </div>
            <div th:if="${board.fileEntity != null}">
                <a th:href="@{/board/file/download/{id}(id=${board.id})}" class="btn_download">파일 다운로드</a>
            </div>
        </div>
        <form th:action="@{/admin/board/delete/{id}(id=${board.id})}" method="post" id="deleteForm">
            <input type="hidden" id="writer" name="writer" th:value="${#authentication.name}" class="form-control" required readonly>
            <input type="hidden" name="_method" value="delete">
            <div class="btn_flex">
                <button type="button" onclick="goBack()" class="btn_prev">뒤로</button>
                <button type="button" class="btn_change"
                        th:onclick="|location.href='/admin/board/update/${board.id}'|"
                        sec:authorize="hasAuthority('ADMIN')">수정</button>
                <button type="button" class="btn_update" onclick="boardDelete()"
                        sec:authorize="hasAuthority('ADMIN')">삭제</button>
            </div>
        </form>
    </div>
</html>

<script>
    function goBack() {
        // 저장된 페이지 정보 가져오기 (없으면 기본값 1)
        let page = sessionStorage.getItem("currentPage") || 1;
        location.href = "/board/list?page=" + page;
    }
</script>