<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{common/layout}"
      layout:fragment="content">
    <div class="board_whole">
        <div class="board_title_txt">
            <p class="bold_title">공지사항(<span th:text="${boardEntityList.size()}"></span>)</p>
            <div>
                <a href="/admin/board/write" class="btn" sec:authorize="hasAuthority('ADMIN')">공지사항 작성</a>
            </div>
        </div>
        <div class="board_inner">
            <table class="board_table">
                <thead class="board_title">
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성일</th>
                    <th>수정일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="board :  ${boardPage.content}" th:onclick="'goBoardDetail('+${board.id}+')'">
                    <td><span></span><p th:text="${board.id}"></p></td>
                    <td th:text="${board.title}"></td>
                    <td th:text="${#temporals.format(board.regTime, 'yyyy-MM-dd')}"></td>
                    <td th:if="${board.updateTime == null}">-</td>
                    <td th:if="${board.updateTime != null}" th:text="${#temporals.format(board.updateTime, 'yyyy-MM-dd')}"></td>
                </tr>
                <tr th:if="${boardEntityList == null} or ${boardEntityList.size() == 0}">
                    <td colspan="5">
                        <p class="no_data_txt">등록된 공지사항이 없습니다.</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- 페이징 처리 -->
        <div class="product__pagination" th:if="${boardPage.totalPages > 0}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:if="${currentPage > 1}">
                    <a th:href="@{/board/list(page=${currentPage-1})}" class="page-link">⬅</a>
                </li>
                <li th:each="i : ${#numbers.sequence(1, boardPage.totalPages)}" th:class="${i == currentPage} ? 'page-item active' : 'page-item'">
                    <a class="page-link" th:href="@{/board/list(page=${i})}" th:text="${i}"></a>
                </li>
                <li class="page-item" th:if="${currentPage < boardPage.totalPages}">
                    <a th:href="@{/board/list(page=${currentPage+1})}" class="page-link">➡</a>
                </li>
            </ul>
        </div>
    </div>
</html>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // 저장된 스크롤 위치 복원
        if (sessionStorage.getItem("scrollPosition")) {
            window.scrollTo(0, sessionStorage.getItem("scrollPosition"));
        }
    });

    function goBoardDetail(id) {
        // 현재 페이지 번호와 스크롤 위치 저장
        sessionStorage.setItem("scrollPosition", window.scrollY);
        sessionStorage.setItem("currentPage", new URLSearchParams(window.location.search).get("page") || 1);

        location.href = '/board/detail/' + id + '?page=' + sessionStorage.getItem("currentPage");
    }
</script>