<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layout}"
  layout:fragment="content">
  <div class="error_whole">
    <div id="error_txt">
      <h1 style="font-size:36px;line-height:48px;margin-top:120px;text-align:center;">
        <span style="color:rgb(var(--origin-yellow));">!!</span>
        Error
        <span style="color:rgb(var(--origin-yellow));">!!</span>
      </h1>
      <p style="font-size:18px;line-height:27px;text-align:center;"><span style="font-weight:bold;color:rgb(var(--origin-red));">405</span> 에러 발생.<br/>해당 문제가 계속되면 관리자에게 알려주세요.</p>
    </div>
    <div style="margin-top: 30px;" class="btn_flex display_flex flex_nowrap flex_center flex_align_c">
      <button type="button" class="btn_prev" onclick="goBack()">이전으로</button>
      <button type="button" class="btn_submit" onclick="goHome()">메인으로</button>
    </div>
  </div>
</html>