<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
  <footer class="footer_section">
    <div class="footer_inner">
      <div class="footer_top display_flex flex_between">
        <p onclick="goHome()">Recycle Project</p>
        <div class="display_flex flex_end">
          <!--
          <a href="">개인정보처리방침</a>
          <a href="">이용약관</a>
          -->
          <a href="/price">수거 가격표</a>
        </div>
      </div>
      <div class="footer_bottom display_flex flex_between flex_align_c">
        <p>AI 팀 프로젝트</p>
        <p><span>조장: 김정현</span> · 윤인영 · 이혜린 · 황인철</p>
      </div>
      <p>ⓒMBC ACADEMY with 1석3조</p>
    </div>
  </footer>
</html>