<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      layout:fragment="content">
    <div class="member_whole">
        <div class="member_title">
            <img src="/img/logo/logo_yl.svg" onclick="location.href='/'">
            <h1>LOGIN</h1>
        </div>
        <div class="member_inner">
            <form th:action="@{/memberLogin}" method="post" id="memberLogin">
                <div class="member_row">
                    <p id="txt_id">아이디</p>
                    <input type="text" class="common_input" id="id" data-id="id" data-type="txt_id" name="id" maxlength="15" onkeyup="loginWrite(this,event)" placeholder="아이디">
                </div>
                <div class="member_row">
                    <p id="txt_pw">비밀번호</p>
                    <div class="member_pw common_input display_flex">
                        <input type="password" id="pw" data-id="pw" data-type="txt_pw" name="pw" maxlength="16" onkeyup="loginWrite(this,event)" placeholder="비밀번호">
                        <button type="button" data-id="pw" onclick="pwTxtPw(this)">
                            <img src="/img/icon/common/eye_open.png" alt="비밀번호 숨기기/보여주기 버튼">
                        </button>
                    </div>
                </div>
                <div class="link_flex display_flex flex_between flex_align_c">
                    <a href="/find">아이디/비밀번호 찾기</a>
                    <a href="/signup">회원가입</a>
                </div>
                <div class="btn_flex">
                    <button type="button" class="btn_submit" onclick="idPwChk()">로그인</button>
                </div>
            </form>
        </div>
    </div>
</html>