<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      layout:fragment="content">
    <div class="member_whole">
        <div class="member_title">
            <h1>마이페이지</h1>
            <p>
                수정할 정보를 입력해주세요.
                <br/>
                아이디, 이름을 제외한 정보를 수정하실 수 있습니다.
            </p>
        </div>
        <div class="member_inner">
            <form th:action="@{/myUpdate}" method="post" id="myForm" modelAttribute="memberdto" th:object="${memberDTO}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <div class="member_row">
                    <p>아이디</p>
                    <input type="text" id="id" name="id" th:value="${member.id}" readonly>
                </div>
                <button type="button" class="pw_change_btn" id="pw_change_btn" data-id="pw_change_btn" data-type="off" onclick="pwChangeShow(this)">비밀번호 수정</button>
                <div class="member_row common_pw">
                    <p>비밀번호</p>
                    <div class="member_pw display_flex">
                        <input type="password" id="pw" name="pw" maxlength="16" onkeyup="pwChange()" placeholder="비밀번호 입력">
                        <button type="button" data-id="pw" onclick="pwTxtPw(this)">
                            <img src="/img/icon/common/eye_open.png" alt="비밀번호 숨기기/보여주기 버튼">
                        </button>
                    </div>
                    <span id="pwchk1"><span><img src="/img/icon/member/id_no.png">비밀번호를 확인해주세요. 비밀번호는 영어 대/소문자,숫자,특수기호 포함 8~16자 이내입니다.</span></span>
                    <input type="hidden" id="pwcheck" value="no">
                </div>
                <div class="member_row common_pw">
                    <p>비밀번호 확인</p>
                    <div class="member_pw display_flex">
                        <input type="password" id="pw2" maxlength="16" onkeyup="pwChange()" placeholder="비밀번호 다시 입력">
                        <button type="button" data-id="pw2" onclick="pwTxtPw(this)">
                            <img src="/img/icon/common/eye_open.png" alt="비밀번호 숨기기/보여주기 버튼">
                        </button>
                    </div>
                    <span id="pwchk2"><span><img src="/img/icon/member/id_no.png">비밀번호가 일치하지 않습니다. 확인해주세요.</span></span>
                    <span id="pwchk3"><span><img src="/img/icon/member/id_no.png">비밀번호를 모두 입력해주세요.</span></span>
                </div>
                <div class="member_row">
                    <p>이름</p>
                    <input type="text" id="name" name="name" th:value="${member.name}" maxlength="10" onkeyup="nameChk()" placeholder="이름 입력" readonly>
                </div>
                <div class="member_row">
                    <p>주소</p>
                    <div class="member_address">
                        <div class="address_row display_flex">
                            <input type="text" id="addr" name="addr" th:value="${member.addr}" maxlength="10" onchange="detailAddrWrite()" placeholder="우편번호" readonly>
                            <button type="button" class="row_btn" id="addr_btn" onclick="execDaumPostcode()">우편번호 찾기</button>
                        </div>
                        <input type="text" id="streetaddr" name="streetaddr" th:value="${member.streetaddr}" maxlength="40" onchange="detailAddrWrite()" placeholder="기본 주소를 입력하세요" required readonly>
                        <input type="text" id="detailaddr" name="detailaddr" th:value="${member.detailaddr}" maxlength="40" onkeyup="detailAddrWrite()" placeholder="상세 주소를 입력하세요" required readonly>
                        <input type="hidden" id="addresscheck" value="ok">
                    </div>
                    <span id="addresschk1"><span><img src="/img/icon/member/id_no.png">주소를 모두 적어주세요.</span></span>
                    <span id="addresschk2"><span><img src="/img/icon/member/id_no.png">상세 주소를 제대로 적어주세요.</span></span>
                </div>
                <div class="member_row">
                    <p>전화번호</p>
                    <div class="tel_row display_flex flex_align_c">
                        <input type="text" id="tel1" onkeyup="telWrite()" maxlength="3" placeholder="전화번호 앞자리"
                               oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                        <p>-</p>
                        <input type="text" id="tel2" onkeyup="telWrite()" maxlength="4" placeholder="전화번호 중간자리"
                               oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                        <p>-</p>
                        <input type="text" id="tel3" onkeyup="telWrite()" maxlength="4" placeholder="전화번호 뒷자리"
                               oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                    </div>
                    <span id="telchk1" class="telchk"><span><img src="/img/icon/member/id_no.png">전화번호를 모두 입력해주세요.</span></span>
                    <span id="telchk2" class="telchk"><span><img src="/img/icon/member/id_no.png">전화번호 앞자리를 입력해주세요.</span></span>
                    <span id="telchk3" class="telchk"><span><img src="/img/icon/member/id_no.png">전화번호 중간자리를 입력해주세요.</span></span>
                    <span id="telchk4" class="telchk"><span><img src="/img/icon/member/id_no.png">전화번호를 뒷자리를 입력해주세요.</span></span>
                    <span id="telchk5" class="telchk"><span><img src="/img/icon/member/id_no.png">전화번호를 다시 한 번 확인해주세요.</span></span>
                    <input type="hidden" id="tel_whole" name="tel" th:value="${member.tel}">
                    <input type="hidden" id="telcheck" value="ok">
                </div>
                <input type="hidden" name="role" th:value="${member.role}">
                <div class="btn_flex">
                    <button type="button" class="btn_prev" onclick="goBack()">뒤로</button>
                    <button type="button" class="btn_submit" onclick="myAllChk()">정보 수정</button>
                </div>
            </form>
        </div>
    </div>
</html>