/* 컨테이너 스타일 */
.container,
.container-sm {
    max-width: none;
}

.container {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

/* 제목 스타일 */
.title {
    color: #FFAA33;
    font-weight: bold;
    text-align: center;
}

.nav-tabs{
    border-bottom: none;
}

.nav-tabs .nav-link {
    color: var(--bs-gray-500);
    padding: 5px 5px 10px 5px;
}

/* 테이블 스타일 */
.order-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: auto;
    z-index: 1;
    margin-top: -10px;
}

.order-container::-webkit-scrollbar {
    width: auto;
    height: 5px;
    background-color: rgba(var(--origin-yellow), 0.4);
    border-radius: 5px;
}

.order-container::-webkit-scrollbar-thumb {
    width: auto;
    height: 5px;
    background-color: rgb(var(--origin-yellow));
    border-radius: 5px;
}

.order-table {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.order-table thead {
    background: #FFCC66;
    color: #444444;
}

.order-table th,
.order-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #E0C97F;
    vertical-align: middle;
}

/*유저*/
.order-table th:nth-child(1),
.order-table td:nth-child(1) {
    min-width: 80px;
    width: 80px;
    max-width: 80px;
}

.order-table th:nth-child(2),
.order-table td:nth-child(2) {
    min-width: 160px;
    width: 160px;
    max-width: 160px;
}

.order-table th:nth-child(3),
.order-table td:nth-child(3) {
    min-width: 300px;
    width: 300px;
    max-width: 300px;
}

.order-table th:nth-child(4),
.order-table td:nth-child(4) {
    min-width: 130px;
    width: 130px;
    max-width: 130px;
}

.order-table th:last-child,
.order-table td:last-child {
    min-width: 110px;
    width: 110px;
    max-width: 110px;
}

.order-table td:last-child button {
    width: 100%;
}

/*관리자*/
.admin .order-table th:nth-child(3),
.admin .order-table td:nth-child(3) {
    min-width: 160px;
    width: 160px;
    max-width: 160px;
}

.admin .order-table th:nth-child(4),
.admin .order-table td:nth-child(4) {
    min-width: 300px;
    width: 300px;
    max-width: 300px;
}

.admin .order-table th:nth-child(5),
.admin .order-table td:nth-child(5) {
    min-width: 130px;
    width: 130px;
    max-width: 130px;
}

.admin .order-table th:last-child,
.admin .order-table td:last-child {
    min-width: 120px;
    width: 120px;
    max-width: 120px;
}

.order-id-cell {
    background: #FFF3CD;
    font-weight: bold;
    vertical-align: middle;
}

.order-price-cell {
    background: #FFEFB8;
    font-weight: bold;
    vertical-align: middle;
}

/* 수거상품 카드 스타일 */
.product-card {
    background: #FFF8E1;
    border-radius: 10px;
    padding: 10px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    font-size: 16px;
    padding: 0;
}

.list-group-item + .list-group-item {
    margin-top: 5px;
}

.product-name {
    font-weight: bold;
    color: #333;
}

.quantity {
    min-width: 50px;
    font-size: 14px;
    color: #888;
    text-align: start;
}

.badge-secondary {
    min-width: 70px;
    font-weight: bold;
    color: black;
    padding: 5px 10px;
    margin: 0 10px 0 auto;
    background-color: #FFD042;
}

/* 페이징 스타일 */
.pagination-container {
    text-align: center;
    margin-top: 20px;
}

.pagination .page-link {
    color: #444444;
    background-color: #fff0c6;
    border: 1px solid #E0C97F;
    border-radius: 5px;
    margin: 0 3px;
}

.pagination .page-link:hover {
    background-color: #FFD042;
    color: white;
}

.pagination .active .page-link {
    background-color: #FFC107;
    font-weight: bold;
    color: white;
}

/* 빈 데이터 메시지 */
.empty-message {
    font-size: 22px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    color: #666;
}

/* select 박스 글자 가운데 정렬 */
select.form-control {
  text-align: center;
}

/* option 글자 가운데 정렬 */
select.form-control option {
  text-align: center;
}

@media (min-width: 360px){
    .nav-tabs .nav-link {
        padding: 10px 8px 15px 8px;
    }
}

@media (min-width: 500px){
    .nav-tabs .nav-link {
        padding: 10px 15px 15px 15px;
    }
}