@charset "UTF-8";
.board_whole{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.board_inner{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.bold_title{
    text-align: start;
    line-height: 40px;
    margin: 0 auto 10px auto;
}
.board_info{
    width: 100%;
    height: auto;
    margin: 10px auto 20px auto;
    border-bottom: 1px solid rgb(var(--lite-gray));
    padding-bottom: 15px;
}
.board_info p{
    display: flex;
    align-items: center;
    width: max-content;
    max-width: 100%;
    margin: 0;
}
.board_info p + p{
    margin-left: 30px;
}
.board_info p img{
    display: inline-block;
    min-width: 20px;
    width: 20px;
    max-width: 20px;
    height: auto;
    background-size: contain;
    margin-right: 5px;
}
.board_content{
    display: inline-block;
    width: 100%;
    min-height: 300px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding-bottom: 20px;
    margin: 0 auto 20px auto;
    border: none;
    border-bottom: 1px solid rgb(var(--lite-gray));
    outline: none;
    resize: none;
    background-color: rgb(var(--real-white));
    cursor: default;
}
/*공지사항 파일*/
.board_file{
    margin: 0 auto 10px auto;
}
.board_file p{
    margin-bottom: 10px;
}
a.btn_download{
    display: inline-block;
    width: 100%;
    max-width: 120px;
    height: 40px;
    line-height: 40px;
    color: rgb(var(--lite-black));
    text-align: center;
    background-color: rgba(var(--origin-yellow),0.2);
    border: 1px solid rgb(var(--origin-yellow));
    border-radius: 5px;
    text-decoration: none;
}
/*버튼*/
.btn_flex button.btn_change{
    color: rgb(var(--origin-red));
    border-color: rgb(var(--origin-red));
}
.btn_flex button.btn_change:hover{
    background-color: rgba(var(--origin-red),0.1);
}
.btn_flex button.btn_update{
    color: rgb(var(--real-white));
    background-color: rgb(var(--origin-red));
}
.btn_flex button.btn_update:hover{
    background-color: #8c0000;
}
@media (min-width: 1024px){
    .board_info{
        justify-content: center;
    }
    .bold_title{
        text-align: center;
        margin-bottom: 0;
    }
}
@media (max-width: 359px){
    .board_info{
        flex-direction: column;
        align-items: start;
    }
    .board_info p + p{
        margin-top: 5px;
        margin-left: 0;
    }
}