@charset "UTF-8";
.board_whole{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.board_title_txt{
    width: 100%;
    min-height: 40px;
    height: auto;
    margin: 0 auto 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.board_title_txt div{
    min-width: 120px;
    width: 120px;
}
.bold_title{
    line-height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.bold_title span{
    margin-top: -8px;
}
a.btn{
    display: block;
    min-width: 120px;
    width: 120px;
    max-width: 120px;
    height: 40px;
    margin: 0;
    background-color: rgba(var(--origin-yellow),0.5);
    border-radius: 5px;
}
a.btn:hover{
    background-color: rgba(var(--origin-yellow),0.8);
}
/*게시판*/
.board_inner{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.board_inner *{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-size: 16px;
    line-height: 24px;
    color: rgb(var(--lite-black));
    font-style: normal;
    text-decoration: none;
    outline: 0;
    word-break: auto-phrase;
    background-color: var(--bg-none);
}
.board_title{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 7px 0 6px 0;
    border-top: 2px solid rgba(var(--lite-black),0.2);
    border-bottom: 1px solid rgb(var(--lite-gray));
    margin-top: 5px;
    background-color: rgba(var(--lite-yellow),0.3)!important;
}
.board_table tr{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 8px 0 7px 0;
}
.board_table tbody tr:nth-child(2n){
    background-color: rgba(var(--lite-yellow),0.05);
}
.board_table thead th{
    width: 100%;
    height: auto;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    margin: 0 auto;
    padding: 7px 0 6px 0;
    border-top: 2px solid rgba(var(--lite-black), 0.2);
    border-bottom: 1px solid rgb(var(--lite-gray));
    margin-top: 5px;
    background-color: rgba(var(--lite-yellow), 0.3) !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.board_table thead th:first-child,
.board_table tbody td:first-child{
    min-width: 50px;
    width: 50px;
    max-width: 50px;
    margin-right: 10px;
    text-align: center;
}
.board_table thead th:nth-child(2),
.board_table tbody td:nth-child(2){
    text-align: start;
}
.board_table thead th:nth-child(3),
.board_table tbody td:nth-child(3),
.board_table thead th:last-child,
.board_table tbody td:last-child{
    min-width: 100px;
    width: 100px;
    max-width: 100px;
    text-align: center;
    margin: 0 10px;
}
.board_table tbody td:nth-child(2):hover{
    cursor: pointer;
}
.board_table tbody tr td{
    position: relative;
    font-size: 14px;
    line-height: 22px;
    color: rgb(var(--lite-black));
    border-bottom: 1px solid rgb(var(--lite-gray));
    text-overflow: ellipsis;
    white-space: nowrap;
}
.board_table tbody tr td,
.board_table tbody tr td *{
    cursor: pointer;
}
.board_table tbody tr td p,
.board_table tbody tr td a{
    font-size: 14px;
    line-height: 22px;
    color: rgb(var(--lite-black));
}
.board_table tbody tr td a{
    display: inline-block;
    width: 100%;
    text-decoration: underline;
}
.board_table tbody tr:hover td{
    font-weight: 500;
    background-color: rgba(var(--lite-gray),0.1)!important;
}
.board_table tbody tr td span{
    position: absolute;
    display: block;
    min-width: 8px;
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background-color: rgb(var(--lite-yellow));
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
}
.board_table tbody tr:hover td span{
    opacity: 1;
}
/* 페이징 스타일 */
.pagination-container {
    text-align: center;
    margin-top: 20px;
}
.pagination .page-link{
    color: #444444;
    background-color: #fff0c6;
    border: 1px solid #E0C97F;
    border-radius: 5px;
    margin: 0 3px;
}
.pagination .page-link:hover{
    background-color: #FFD042;
    color: white;
}
.pagination .active .page-link{
    color: white;
    font-weight: bold;
    background-color: #FFC107;
}
@media (min-width: 360px){
    .board_table thead th:first-child,
    .board_table tbody td:first-child{
        min-width: 60px;
        width: 60px;
        max-width: 60px;
    }
}
@media (min-width: 900px){
    /*커뮤니티*/
    .board_table thead th,
    .board_table tbody td{
        font-size: 16px;
        line-height: 24px;
    }
    .board_table tbody tr td span{
        min-width: 10px;
        width: 10px;
        height: 10px;
        left: -20px;
    }
    .board_table thead th:nth-child(3),
    .board_table tbody td:nth-child(3),
    .board_table thead th:last-child,
    .board_table tbody td:last-child{
        min-width: 130px;
        width: 130px;
        max-width: 130px;
    }
}
@media (min-width: 1024px){
    .bold_title{
        line-height: 40px;
        margin: 0 calc((100% - 365px) / 2) 0 auto;
    }
    .board_table thead th:first-child,
    .board_table tbody td:first-child{
        min-width: 80px;
        width: 80px;
        max-width: 80px;
    }
}